<%-include('./partials/header')%>

<form action="/register" method="post" class="w-[60%] border-2 border-stone-800 p-5 mt-20 m-auto">
    <input type="text" name="name" placeholder="Enter name" class="w-full p-5 text-xl bg-stone-800 text-white">
    <input type="text" name="username" placeholder="Enter username" class="w-full p-5 text-xl bg-stone-800 text-white mt-10">
    <input type="email" name="email" placeholder="Enter Email" class="w-full p-5 text-xl bg-stone-800 text-white mt-10">
    <input type="password" name="password" placeholder="Enter Password" class="w-full p-5 text-xl bg-stone-800 text-white mt-10">
    <button class="w-full p-5 text-xl bg-stone-800 text-white mt-10">Register</button>
</form>

<%-include('./partials/footer')%>
